<div class="pagination">
<nav>
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    {{ if .Paginator.HasPrev }}
	<a class="btn newer" href="{{.Paginator.Prev.URL}}" title="Newer Posts">&laquo; Newer Posts</a>
	{{ end }}
{{ end }}
	<p class="counter">{{ .Site.Data.l10n.pagination.page }} {{ .Paginator.PageNumber}} {{ .Site.Data.l10n.pagination.of }} {{.Paginator.TotalPages}}</p>

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
	{{ if .Paginator.HasNext }}
	<a class="btn older" href="{{.Paginator.Next.URL}}" title="Older Posts">Older Posts &raquo;</a>
	{{ end }}
{{ end }}
</nav>
</div>
